button{
    background-color:  hwb(199 12% 58%);
    color: white;
    border: none;
    padding: 70px 70px;
    font-size: 25px;
    border-radius: 25px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.flashcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

p{
    font-size: 25px;
    color: lightgray;
}