body{
    width: 100%;
}
#home-button{background-color: hwb(199 12% 58%);
    color: white;
    text-align: center;
    width: 300px ;
    height:50px;
    border-end-end-radius: 30%;
    }
#nav-bar {
    width: 100%; display: flex;
    justify-content: space-evenly; 
    align-items: center;
}


h2{text-align: center;
    color:black;
    font-size: 40px;}
    
    li{
    color: black;
    width: 300px;
    margin:50px;
    display: inline;
    background-position: center;
    font-size: x-large;
    position: static;
    vertical-align: middle;}

    a{text-decoration: none;}
    
    .nav{
    text-decoration: none;
    color: black;}

    .nav{display: inline-block;}

    a{
        text-decoration: none;
       color: black;
   }

   .bottom-border-line{
    border-bottom: solid;
    color: rgb(207, 207, 207);
    border-width: 1px;
    width: 100%;
}

.header-menu{
    height: 100px;
    width: vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}
.MyClass{
    padding-left: 40px;
}
.year-note{
    padding-left: 40px;
    margin: 0; 
}

#add-main-note-class {
    color: white;
    background-color: hwb(199 12% 58%);
    font-size: x-large;
    border: 1px solid hwb(199 12% 58%);
    border-radius: 8px;
    width: 150px;
    height: 70px;
    margin: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-main-note-class:hover {
    transition: 0.25s;
    background-color: rgb(31, 83, 107, 0.25);
}


#general-notes {
  
    margin: 0px 40px 20px;
    border-radius: 8px;
    width: 2200px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#note-general-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#listnote {
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid hwb(199 12% 58%);
    box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.2), -9px -9px 18px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

#listnote .note-header {
    background-color: hwb(199 12% 58%);
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

#li-span-note {
    text-align: left;
    font-size: 20px;
    margin-top: 5px;
}

#li-span-note strong {
    font-size: 18px;
    margin-right: 10px;
}

.note-btns-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.note-btns-container button {
    font-size: 18px;
    background-color: rgb(31, 83, 107);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.note-btns-container button:hover {
    background-color: rgb(31, 83, 107, 0.5);
}

#popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note-title, .note-text {
    width: 600px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid #000;
}

.note-title {
    height: 40px;
}

.note-text {
    height: 300px;
}

#class-container {
    margin-top: 10px;
    width: 600px;
}

#class-container select {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
}

#submitbtn, #closebtn {
    width: 150px;
    height: 40px;
    background-color: rgb(31, 83, 107);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#closebtn {
    background-color: rgb(31, 83, 107);
}

#btn-container {
    display: flex;
    justify-content: space-around;
}
