#home-button{background-color: hwb(199 12% 58%);
    color: white;
    text-align: center;
    width: 300px ;
    height:50px;
    border-end-end-radius: 30%;
    ;}

h2{text-align: center;
    color:black;
    font-size: 40px;}
    
    li{
    color: black;
    width: 300px;
    margin:50px;
    display: inline;
    background-position: center;
    font-size: x-large;
    position: static;
    vertical-align: middle;}
    a{text-decoration: none;}
    
    .nav{display: inline-block;}
    
    
li a{
     text-decoration: none;
    color: black;
}
 .Flashcards{
    padding-left: 40px;
}
.bottom-border-line{
     border-bottom: solid;
     color: rgb(207, 207, 207);
     border-width: 1px;
     width: 100%;
}
.flashcard-type{
    vertical-align: top;
    display: inline-block;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
    height: 300px;
    width: 275px;
    border-color: rgba(230, 230, 230, 100);
    background-color: rgba(250, 250, 245, 100);
}

.Flashcard-Title{
    padding-left: 10px;
    line-height: 1px;
}

.Flashcard-Sub-Title{
    padding-left: 10px;
    line-height: 1px;
    color: rgba(66, 107, 31, 100);
}

.Flashcard-Class-Title{
    padding-left: 10px;
    line-height: 1px;
    color: rgba(109, 109, 109, 100);
}

.flashcard-button-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: center;
    height: 100%;
}

.add-cross-btn{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: hwb(199 12% 58%);
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 150px;
}