#home-button{background-color: hwb(199 12% 58%);
color: white;
text-align: center;
width: 200px ;
height:30px;
border-end-end-radius: 30%;}
h2{text-align: center;
color:black;
}
li{text-decoration: none;
color: black;
width: 300px;
margin:50px;
display: inline;
background-position: center;}
.createmiddle{margin:0 auto;
    display: block;
    padding: 1%;
    text-align: center;
}
.centerimg{
    margin: 0 auto;
    width: 65%;
}
a{text-decoration: none;
color: black;
}
#account{
    color:white;
    background-color: hwb(199 12% 58%);
   height: 50px;
   width: 50px;
   text-align: center;
    border-radius: 20%;
    text-decoration: none;
}
#contact{color: white;
    text-align: end;
background-color:hwb(199 12% 58%);}
