#home-button{background-color: hwb(199 12% 58%);
color: white;
text-align: center;
width: 300px ;
height:50px;
border-end-end-radius: 30%;
;}


h2{text-align: center;
color:black;
font-size: 40px;}

li{text-decoration: none;
color: black;
width: 300px;
margin:50px;
display: inline;
background-position: center;
font-size: x-large;
position: static;
vertical-align: middle;}

.nav{display: inline-block;}

.createmiddle{
    margin:0 auto;
    display: block;
    padding: 12px;
    text-align: center;
    width: 200px;
    height: 20px;
    background-color: hwb(199 12% 58%);
    text-align: center;
    border-end-end-radius: 20%;
    text-decoration: none;
}

#account{color:white; font-size: larger;}
.centerimg{
    margin: 0 auto;
    text-align: center;
}
a{text-decoration: none;
color: black;
}

footer{color: white;
    text-align: end;
    background-color:hwb(199 12% 58%);
    width: 100vw;
    height: 100px;
    vertical-align: bottom;
    font-size: 30px; vertical-align: middle;
    bottom: 0px;
}

#contact{ margin-right: 100px}
#image-1{text-align: center;}

td:hover{background-color: white;}

.todo-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 3px 3px 10px (0, 0, 0, 0.15);
    border-top: 5px solid hwb(199 12% 58%);
    border-bottom: 5px solid hwb(199 12% 58%);
}

.todo-container
{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.todo-value{
    background: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
}

.todo:has(.todo-checkbox:checked)
{
color: #555;
background-color: rgb(200, 208, 215);
text-decoration: line-through;
}
